<section id="cards-123" class="bg-lightblue ">
  <div class="container">
    <div class="row py-xl-6 py-4 no-gutters mt-1 d-lg-flex">
        <div class="col-lg-4 my-xl-0">
            <div class="card border-0 bg-unset">
                <div class="card-body py-4">
                    <div class="row hover-scale-110">
                      <div class="col-2"></div>
                      <div class="col">
                        <h5 class="pb-2 text-black">1. Init</h5>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-2 p-0 letter-box text-center">
                        <span class="px-2">1</span>
                        <div class="decor d-none d-sm-block"></div>
                      </div>
                      <div class="col pt-2 subtext-color small-text pr-4">
                        <p class="mb-0">Spend 2 minutes setting up a local Content Studio tied to our hosted APIs. Define your data model in JavaScript. Customize with React.js.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-xl-0">
            <div class="card border-0 bg-unset">
                <div class="card-body py-4">
                    <div class="row hover-scale-110">
                      <div class="col-2"></div>
                      <div class="col">
                        <h5 class="pb-2 text-black">2. Edit</h5>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-2 p-0 letter-box text-center">
                        <span class=" px-2">2</span>
                        <div class="decor d-none d-sm-block"></div>
                      </div>
                      <div class="col pt-2 subtext-color small-text pr-4">
                        <p class="mb-0">sanity deploy your studio and hand it over to editors. Lean back as they enjoy real-time editing and hassle free interfaces.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-xl-0">
            <div class="card border-0 bg-unset">
                <div class="card-body py-4">
                    <div class="row hover-scale-110">
                      <div class="col-2"></div>
                      <div class="col">
                        <h5 class="pb-2  text-black">3. Connect</h5>
                      </div>
                      <div class="w-100"></div>
                      <div class="col-2 p-0 letter-box text-center">
                        <span class="px-2">3</span>
                        <div class="decor d-none d-sm-block"></div>
                      </div>
                      <div class="col pt-2 subtext-color small-text pr-4">
                        <p class="mb-0">Use the graph oriented query language and client libraries to connect front-ends, mobile apps and other services.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-4 pb-xl-6 text-center">
      <h1>Read more on <br class="line-break"><a href="#" class="underline text-white">getting started</a></h1>
    </div>
  </div>
</section>