<section class="pt-0 ">
  <div class="container text-center mx-auto pb-5">
    <h1 class="display-4 lightcoral">Lorem ipsum dolor sit amet,</h1>
    <h1 class="display-4">maecenas semper posuere dignissim</h1>
  </div>
  <div class="container">
      <div class="row ">
          <div class="col-lg-3">
              <div class="card left-right-shadow hover-translate-y-n10 hover-shadow-lg text-center">
                  <div class="px-4 py-4">
                      <img src="{{ "/assets/images/002-gear.png" | relative_url }}" alt="gear icon" class="card-icon">
                  </div>
                  <div class="px-4 pb-4">
                      <h5 class="pb-2">Automation</h5>
                      <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="card left-right-shadow hover-translate-y-n10 hover-shadow-lg text-center">
                  <div class="px-4 py-4">
                    <img src="{{ "/assets/images/003-web-design.png" | relative_url }}" alt="web browser icon" class="card-icon">
                  </div>
                  <div class="px-4 pb-4">
                      <h5 class="pb-2">Scalabilty</h5>
                      <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="card left-right-shadow hover-translate-y-n10 hover-shadow-lg text-center">
                  <div class="px-4 py-4">
                    <img src="{{ "/assets/images/004-statistics.png" | relative_url }}" alt="" class="card-icon">
                  </div>
                  <div class="px-4 pb-4">
                      <h5>Performance</h5>
                      <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="card left-right-shadow hover-shadow-lg hover-translate-y-n10 text-center">
                  <div class="px-4 py-4">
                      <img src="{{ "/assets/images/001-html.png" | relative_url }}" alt="browser icon" class="card-icon">
                  </div>
                  <div class="px-4 pb-4">
                      <h5>Extensibility</h5>
                      <p class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>