<section id="cta" class="slice slice-lg">
    <div class="container">
        <div class="row align-items-center my-5">
            <div class="col-lg-6 ml-md-auto ml-md-auto">
                <img alt="cta image" src="{{ "/assets/images/123.jpg" | relative_url }}" class="img-fluid rounded hover-shadow-lg">
            </div>
            <div class="col-lg-5 mx-lg-auto">
                <h3 class="mt-2">Fusce metus massa,<br> tincidunt vitae nisi at,<br> pretium semper tortor.</h3>
                <p class="lead mt-4">Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exertation.</p>
                <a href="#" class="btn btn-cta btn-light text-white btn-round long-button hover-translate-y-n3">Learn more
                    <img src="{{ "/assets/images/icon_chevron_right.svg" | relative_url }}" alt="chevron right icon" class="icon-size closer-left">
                </a>
            </div>
        </div>
    </div>
</section>