<footer class="">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 order-3 order-sm-4 order-md-1 ">
                <div class="">
                    <!-- <img class="mb-30" src="assets/images/logo/logo-light.png" alt="logo"> -->
                    <img src="{{ "/assets/images/main-logo.png" | relative_url }}" alt="main logo" class="logo-footer">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 order-sm-1 order-md-2">
                <h5 class="text-uppercase">Useful link</h5>
                <ul class="list-unstyled lead">
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Adipisicing elit</a></li>
                    <li><a href="#">Sed do eiusmod</a></li>
                    <li><a href="#">Tempor incidunt ut</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 order-sm-2 order-md-3">
                <h5 class="text-uppercase">Useful link</h5>
                <ul class="list-unstyled lead">
                    <li><a href="#">Amet consectetur</a></li>
                    <li><a href="#">Adipisicing elit</a></li>
                    <li><a href="#">Sed do eiusmod</a></li>
                    <li><a href="#">Tempor incidunt ut</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 order-last">
                <div class="footer-col-title">
                    <h5 class="text-uppercase">Social Media</h5>
                </div>
                {%- include social.html -%}
            </div>
        </div>
        <div class="row border-top-footer align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-6">
                <div class="text-black text-sm small text-center text-md-left">Copyright © Imager200. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <div class="tnc text-sm text-center text-md-right">
                    <a href="" class="small" target="_blank">Term &amp; Condition&nbsp</a>|
                    <a href="" class="small" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>