<section class="py-6 py-lg-7 position-relative dark-overlay">
  <img src="{{ "/assets/images/headline-bg.jpg" | relative_url }}" alt="" class="bg-image">
  <div class="container">
    <div class="overlay-content text-white py-lg-5 text-center">
      <p class="subtitle text-white letter-spacing-4 mb-4">Your Image Editor as a</p>
      <h3 class="display-3 font-weight-bold text-serif text-shadow mb-5">Rest API
        <span>text;</span>
      </h3>
      <a href="#" class="btn btn-primary btn-round">Get started</a>
    </div>
  </div>
</section>