<section class="py-6 py-lg-7 position-relative dark-overlay">
  <img src="{{ "/assets/images/headline-bg.jpg" | relative_url }}" alt="" class="bg-image">
  <div class="container">
    <div class="overlay-content text-white py-lg-5 text-center">
      <h4 class="sub-heading text-black font-weight-bold mb-4">Your Image Editor as a</h4>
      <h3 class="display-1 font-weight-bold lightcoral mb-5">Rest API
        <span class="lightskyblue">text;</span>
      </h3>
      <a href="#" class="btn btn-heading btn-light btn-round">Get started
        <img src="{{ "/assets/images/icon_chevron_right.svg" | relative_url }}" alt="chevron right icon" class="icon-size">
      </a>
    </div>
  </div>
</section>