<section class="py-6 pt-lg-6 pb-lg-8 position-relative dark-overlay">
  <img src="{{ "/assets/images/headline-bg.jpg" | relative_url }}" alt="" class="bg-image">
  <div class="container">
    <div class="overlay-content text-white py-lg-5 text-center">
      <h4 class="sub-heading text-black font-weight-bold mb-n2">Your Image Editor as a</h4>
      <h3 class="display-1 font-weight-bold lightcoral mb-2">Rest API
        <span class="lightskyblue">text;</span>
      </h3>
      <a href="#" class="btn btn-heading btn-light btn-round long-button">Get started
        <img src="{{ "/assets/images/icon_chevron_right.svg" | relative_url }}" alt="chevron right icon" class="icon-size closer-left">
      </a>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="laptop-wrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LT0f5dw1jdE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>