<section class="my-5" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-9">
                <h2 class="h1-responsive font-weight-bold text-center my-5 text-uppercase">Pricing</h2>
                <p class="text-center w-responsive mx-auto mb-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</p>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="card pricing-card hover-scale-110 mb-6">
                            <div class="price header white-text text-center rounded-top">
                                <h2 class="number"><span class="monthly text-uppercase">monthly</span><span class="dollar">$</span>100</h2>
                                <div class="version hover-bg pb-0">
                                    <h5 class="mb-0 text-uppercase">Basic Plan</h5>
                                </div>
                            </div>
                            <div class="card-body striped mb-1 darker-striped pt-0">
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="mt-3">
                                            {%- include check-mark.html -%}
                                            10 GB Space
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include check-mark.html -%}
                                            2 Email Accounts
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include cross-mark.html -%}
                                            20 Email Address
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include cross-mark.html -%}
                                            Live Support
                                        </p>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <button class="btn btn-cta btn-light text-white btn-round long-button text-uppercase">Select Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card activated pricing-card hover-scale-110 mb-6">
                            <div class="price header white-text text-center rounded-top">
                                <h2 class="number"><span class="monthly text-uppercase">monthly</span><span class="dollar">$</span>150</h2>
                                <div class="version activated hover-bg pb-0">
                                    <h5 class="mb-0 text-uppercase">Standard Plan</h5>
                                </div>
                            </div>
                            <div class="card-body striped mb-1 darker-striped pt-0">
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="mt-3">
                                            {%- include check-mark.html -%}
                                            10 GB Space
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include check-mark.html -%}
                                            2 Email Accounts
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include check-mark.html -%}
                                            20 Email Address
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include cross-mark.html -%}
                                            Live Support
                                        </p>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <button class="btn btn-cta btn-light text-white btn-round long-button text-uppercase">Select Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card pricing-card hover-scale-110 mb-6">
                            <div class="price header white-text text-center rounded-top">
                                <h2 class="number"><span class="monthly text-uppercase">monthly</span><span class="dollar">$</span>250</h2>
                                <div class="version hover-bg pb-0">
                                    <h5 class="mb-0 text-uppercase">Premium Plan</h5>
                                </div>
                            </div>
                            <div class="card-body striped mb-1 darker-striped pt-0">
                                <ul class="list-unstyled">
                                    <li>
                                        <p class="mt-3">
                                            {%- include check-mark.html -%}
                                            10 GB Space
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include check-mark.html -%}
                                            2 Email Accounts
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include check-mark.html -%}
                                            20 Email Address
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            {%- include check-mark.html -%}
                                            Live Support
                                        </p>
                                    </li>
                                </ul>
                                <div class="text-center">
                                    <button class="btn btn-cta btn-light text-white btn-round long-button text-uppercase">Select Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>