$bluish: #00c0fa;

.bluish {
  color: $bluish;
}

// Blog card list
.blog-card h1 a {
  color: black;
}
.blog-info {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  .post-author-avatar {
    width: 28px;
    > img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }
  .post-meta {
    margin:0;
  }
}

@include media-breakpoint-down(xs) {
  .blog-info {
    font-size: 70%;
  }
}

// Pagination
.pagination a, .pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.pagination {
  text-align: center;
}

html {
 visibility: visible;
 opacity: 1;
}

 // Sidebar
.sidebar {
  @supports (position: sticky) {
   position: sticky;
   top: .75rem;
   // height: calc(100vh - 4rem);
   overflow-y: auto;
 }
 // background-color: lightblue;
 order: 2;
 // padding-top: 1.5rem;
 // padding-bottom: 1.5rem;
 @include font-size(.875rem);
}

.sidebar {
  .sidebar-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 16px;
    color: #0f151a;
  }

  .sidebar-title:before {
    width: calc(100% - 0px);
    display: block;
    margin-bottom: 8px;
    background-color: #00c0fa;
    height: 2px;
    content: "";
  }

  .sidebar-list,.sidebar-list ul {
    margin-bottom: 32px;
    padding: 0;
  }

  .sidebar-list li {
    list-style: none;
  }

  .sidebar-thumbnail-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    text-decoration:none;
  }

  .sidebar-thumbnail {
    margin-right: 12px;
    width: 94px;
  }

  .sidebar-thumbnail-copy {
    font-size: .875rem;
    color: #637787;
    margin: 0;
  }
  span.category-count {
    font-size: .875rem;
    font-weight: 300;
  }
}

@include media-breakpoint-up(xl) {
  .sidebar {
    .sidebar-title:before {
     width:calc(33.333% - 0px);
    }
  }
}

// Single post
.post-header {
  .blog-info {
    justify-content: space-between;
    [class*=blog-info-] {
      align-items: center;
    }
  }
}

// Category page
.category-title:before {
  width: calc(33% - 0px);
  display: block;
  margin-bottom: 8px;
  background-color: #00c0fa;
  height: 2px;
  content: "";
}

#category-list {
  .category-thumbnail-wrapper {
    display: flex;
    align-items: start;
    margin-bottom: 6px;
    text-decoration:none;
  }

  .category-thumbnail {
    margin-right: 12px;
    width: 94px;
  }
  .thumbnail-text p{
    margin: 0;

    &.category-thumbnail-copy {
      font-size: .92rem;
      color: black;
    }
    &.post-excerpts {
      font-size: .875rem;
      color: #637787;
    }
  }
  .category-head:before {
    width: calc(20% - 0px);
    display: block;
    margin-bottom: 8px;
    background-color: #00c0fa;
    height: 2px;
    content: "";
  }

}