// Custom CSS

@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Black.otf') format('opentype');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Heavy.otf') format('opentype');
font-weight: 800;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Light.otf') format('opentype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Semibold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Thin.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Ultralight.otf') format('opentype');
font-weight: 100;
font-style: normal;
}

body {
  font-family: "SF Display";
}

//Navbar //

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  opacity: 0.79;
  padding: 9px 18px;
}
.closer-left {
  margin-left: -4px;
}

// Hamburger menu structure
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

@include media-breakpoint-up(xs) {
  .logo-sizing {
    width: 50%;
    height: 50%;
  }
}
@include media-breakpoint-up(md) {
  .logo-sizing {
    width: 80%;
    height: 80%;
  }
}
// Hamburger menu animation
.navbar-toggler .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

// Headline //
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0
}

img.bg-image {
  font-family: 'object-fit: cover;';
  -o-object-fit: cover;
  object-fit: cover
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}
.overlay-content {
  position: relative;
  z-index:20;
}

.icon-size {
  height: 16px;
  width: 16px;
}

.text-black {
  color:#000;
}

$lightcoral:#FF2F63;
$lightskyblue: #39C1CF;
$lightblue: #00CDE2;
.lightcoral {
  color: $lightcoral;
}
.lightskyblue {
  color: $lightskyblue;
}
.bg-lightblue {
  background-color: $lightblue;
}
.bg-unset {
  background-color: unset;
}
// Create custom button color & all the state, using bootstrap mixins
.btn-heading {
  @include button-variant($lightcoral, darken($lightcoral, 7.5%), darken($lightcoral, 10%), lighten($lightcoral,5%), lighten($lightcoral, 10%), darken($lightcoral,30%));
}
.btn-cta {
  @include button-variant($lightskyblue, darken($lightskyblue, 7.5%), darken($lightskyblue, 10%), lighten($lightskyblue,5%), lighten($lightskyblue, 10%), darken($lightskyblue,30%));
}
.overlay-content>.sub-heading {
  @include font-size(3rem);
}
.long-button {
  padding: 4px 29px;
  @include font-size(1.2rem);
}

// Embedded Youtube video

div.laptop-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}
div.laptop-wrapper iframe {
  box-sizing: border-box;
  background: url('../assets/images/macbook_PNG59.png') center center no-repeat;
  background-size: contain;
  padding: 8.9% 12.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*=========================================
 * Left right shadow
=========================================*/
.left-right-shadow {
box-shadow: -15px 0 15px -20px rgba(0,0,0,0.9), 15px 0 15px -20px rgba(0,0,0,0.9);
}
.card.left-right-shadow {
  border:none;
}
/*=========================================
 * Hover shadow effect
=========================================*/
[class*=hover-] {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media (prefers-reduced-motion: reduce) {
  [class*=hover-] {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
[class*=shadow] {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hover-shadow-sm:hover {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(31, 45, 61, 0.08) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(31, 45, 61, 0.08) !important;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08) !important;
          box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08) !important;
}

.hover-shadow-lg:hover {
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
          box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.shadow-none,
.hover-shadow-none:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.card-icon {
  height: 60px;
  width: auto;
  filter: invert(30%) sepia(88%) saturate(3017%) hue-rotate(328deg) brightness(101%) contrast(101%);
}
//=============================
.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(31, 45, 61, 0.08) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(31, 45, 61, 0.08) !important;
}

.shadow {
  -webkit-box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08) !important;
          box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08) !important;
}

.shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.shadow-none {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/*=========================================
 * Card 123 section
=========================================*/
.letter-box {
  background-color: #FFFFFF;
  color: #E1E1E1;
  @include font-size(4.5rem);
  // font-size: 4.5rem;
  text-align: center;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}
.small-text {
  font-size: 0.85rem;
}
.subtext-color {
color: #404342;
}
.letter-box.text-center > span {
  vertical-align: middle;
}
.underline {
  text-decoration: underline;
}
.decor {
  position: absolute;
  bottom: -20px;
  left: -25px;
  background-color: #FFFFFF;
  height: 20px;
  width: 15px;
}
// h1 responesive line break
@include media-breakpoint-up(sm) {
  .line-break {
    display: none;
  }
}