// Custom CSS - Overide Bootstrap

@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Black.otf') format('opentype');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Heavy.otf') format('opentype');
font-weight: 800;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Light.otf') format('opentype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Semibold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Thin.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'SF Display';
src: url('../assets/font/SF-Pro-Display-Ultralight.otf') format('opentype');
font-weight: 100;
font-style: normal;
}

body {
  font-family: "SF Display";
}

//Navbar //

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  opacity: 0.79;
  padding: 9px 18px;
}
.closer-left {
  margin-left: -4px;
}

// Headline //
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0
}

img.bg-image {
  font-family: 'object-fit: cover;';
  -o-object-fit: cover;
  object-fit: cover
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}
.overlay-content {
  position: relative;
  z-index:20;
}

.icon-size {
  height: 16px;
  width: 16px;
}

.text-black {
  color:#000;
}

$lightcoral:#FF2F63;
$lightskyblue: #39C1CF;
.lightcoral {
  color: $lightcoral;
}
.lightskyblue {
  color: $lightskyblue;
}
.btn-heading {
  @include button-variant($lightcoral, darken($lightcoral, 7.5%), darken($lightcoral, 10%), lighten($lightcoral,5%), lighten($lightcoral, 10%), darken($lightcoral,30%));
}
.overlay-content>.sub-heading {
  @include font-size(3rem);
}
.long-button {
  padding: 4px 29px;
  @include font-size(1.2rem);
}
