---
layout: blog
title: Tags
---
<h1 id="tags" class="mb-5 category-title">Tags</h1>
<div id="category-list">
    {% assign sorted-tags = site.tags | sort %}
    {% for tag in sorted-tags %}
    <div class="category-item mb-4">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <h3 id="{{ tag_name | slugize }}" class="category-head text-capitalize">{{ tag_name }}</h3>
        {% for post in site.tags[tag_name] %}
        <div>
            <a class="category-thumbnail-wrapper" href="{{ post.url | relative_url }}">
                <img class="category-thumbnail" src={{ "/assets/blog/sidebar/" | relative_url }}{{ post.image }} alt="{{ post.title | escape }}">
                <div class="thumbnail-text">
                    <p class="category-thumbnail-copy">{{ post.title | escape }}</p>
                    <p class="post-excerpts">{{ post.excerpt | strip_html | strip_newlines | truncatewords: 25 }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>