---
layout: blog
---
<img class="img-fluid w-100 rounded" src={{ "/assets/blog/" | relative_url }}{{ page.image }} alt="{{ page.title }}">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name my-4" itemprop="name headline">{{ page.title | escape }}</h1>
        <div class="blog-info my-3">
          <!-- Avatar Start -->
          <div class="blog-info-left d-flex">
            <p class="post-meta mr-3">
                <time class="dt-published" datetime="{{ page.date | date_to_string: "ordinal", "US" }}" itemprop="datePublished">
                    {{ page.date | date_to_string: "ordinal", "US" }}
                </time>
            </p>
            {%- if page.author -%}
            {% assign author = site.blog_authors | where:"short_name", page.author | first %}
            <div class="post-author-avatar mr-2">
                <img class ="hover-scale-110" data-toggle="tooltip" data-placement="top" title="{{ author.content | strip_html }}" src="{{ author.avatar | relative_url }}" alt="{{ author.name }}">
            </div>
            <div class="post-author-name">{{ author.name }}</div>
            {%- endif -%}
          </div>
          <!-- Avatar End -->

          <div class="blog-info-right d-flex">
            <div class="post-categories">Categories:&nbsp
              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <a class="bluish" href="{{ "/blog/categories" | relative_url }}#{{category | slugize}}">{{category}}</a>
              {% unless forloop.last %}<span>&nbsp;</span>{% endunless %}
              {% endfor %}
            </div>

            {% if page.tags %}
            <div class="post-tags d-flex">
              <!-- <span class="pr-1 pipe">|</span> -->
              {% if post %}
                {% assign tags = post.tags %}
              {% else %}
                {% assign tags = page.tags %}
              {% endif %}
              {% for tag in tags %}
              <div class="tag-icon-text-wrapper">
                {%- include price-tags.html -%}
                <a class="bluish price-tags pl-1" href="{{ "/blog/tags" | relative_url }}#{{tag | slugize}}">{{tag}}</a>
              </div>
              {% unless forloop.last %}<span>&nbsp;</span>{% endunless %}
              {% endfor %}
            </div>
            {% endif %}
        </div>

        </div>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>
    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>